# editors
**/.vscode
**/.nvim
**/.idea

# packages
node_modules
deno.lock
package-lock.json

# super secret files
.env
*.db
bot/config*

# hosting only files
*.hosting-only.js
Dockerfile
.dockerignore

# compiled binary
eclairbot

# leftovers, should not exist on new eclairbot versions
*-player-script.js
cookies.txt
*dist
bundle.js*
.prettierrc
